html {
    overflow-y: scroll;
}

body {
    background: url(/uploads/images/bg.png) center center;
    color: #000;
}

.container {
    max-width: 970px;
}

.header {
    background: #000;
    text-align: center;
    padding: 10px 10px 0;
    position: relative;
}

.content {
    background: #000;
    padding: 10px;
}

.footer {
    color: #fff;
    padding: 10px;
    text-align: center;
}

.nicebox {
    background: #999933;
    padding: 20px;
    border-radius: 4px;
}

.blackbox {
    background: #000;
    padding: 0px;
    color: #999;
    display: block;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.blackbox-body {
    padding: 10px;
}

.blackbox:hover {
    border: 1px solid #8e0c0c;
    color: #999;
    text-decoration: none;
}

.text-success {
    color: #004000;
}

h2, h3, h4, h5, h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
    margin: 0 0 20px;
    padding: 0 0 10px;
    border-bottom: 1px solid #000;
}

.menu-container {
    background: #4e5811;
    padding: 10px;
    border-radius: 4px;
}

.menu-wrap {
    float:right;
    position: relative;
    left: -50%;
}

.menu {
    overflow: hidden;
    position: relative;
    left: 50%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu > li {
    float: left;
}

.menu > li > a {
    display: block;
    background: #000;
    padding: 10px 20px;
    color: #fff;
    margin: 0 5px;
}

.pagination {
    margin: 0 0 20px;
    float: right;
}

.pagination>li>a, .pagination>li>span {
    background: #000;
    color: #fff;
    margin: 0 1px 0;
    border: none !important;
    border-radius: 0 !important;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background: #8e0c0c;
}

.pagination>.disabled>span, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    background: #000;
    color: #fff;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #8e0c0c;
}
