body {
    background: #222120;
    /*background: url(/uploads/images/bg.png) center center;*/
    color: #a99877;
    /*color: #98a977;*/
    /*color: #7798a9;*/
    /*font-family: 'Open Sans', sans-serif;*/
}

hr {
    border-color: #12110f;
}

h2, h3, h4, h5, h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #F3E6D0;
    /*color: #e6f3d0;*/
    /*color: #d0e6f3;*/
}

h2 {
    margin: 10px 0 10px;
    padding: 0 0 10px;
    font-size: 24px;
    border-bottom: 3px solid #12110f;
}

a {
    color: #d96500;
    /*color: #fff;*/
}

a:hover {
    color: #fff;
    /*text-decoration: underline;*/
}

.white {
    color: #fff !important;
}

.wrapper {
    background: #12110f;
    padding: 5px;
    border-radius: 4px;
}

.header, .content {
    margin-bottom: 5px;
}

.header {
    text-align: center;
    position: relative;
}

.inner {
    background: #222120;
    /*background: #40420E;*/
    padding: 10px;
    border-radius: 4px;
    border: 1px solid transparent;
    border-color: #080808;
}

.footer {
    text-align: center;
}

.navbar-inverse {
    background: #222120;
}

.navbar-inverse .navbar-nav > li > a {
    color: #bbb;
}

.navbar .form-control {
    background: #12110f;
    border-color: #443312;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background: #222120;
}

.blackbox {
    background: #000;
    padding: 0px;
    color: #999;
    display: block;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.blackbox-body {
    padding: 10px;
}

.blackbox:hover {
    border: 1px solid #8e0c0c;
    color: #999;
    text-decoration: none;
}

.text-success {
    color: #004000;
}

.menu-container {
    background: #4e5811;
    padding: 10px;
    border-radius: 4px;
}

.menu-wrap {
    float:right;
    position: relative;
    left: -50%;
}

.menu {
    overflow: hidden;
    position: relative;
    left: 50%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu > li {
    float: left;
}

.menu > li > a {
    display: block;
    background: #000;
    padding: 10px 20px;
    color: #fff;
    margin: 0 5px;
}

.pagination {
    margin: 0 0 20px;
    float: right;
}

.pagination>li>a, .pagination>li>span {
    background: #000;
    color: #fff;
    margin: 0 1px 0;
    border: none !important;
    border-radius: 0 !important;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background: #8e0c0c;
}

.pagination>.disabled>span, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    background: #000;
    color: #fff;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #8e0c0c;
}

a.media {
    display: block;
}

.sidebar {
/*    background: #000;
    padding: 15px;*/
}

.sidebar h4 {
    font-size: 18px;
    margin: 10px 0 10px;
    padding-bottom: 10px;
    /*border-bottom: 3px solid #443312;*/
    text-transform: uppercase;
}

.sidebar ul {
    line-height: 2;
    margin-bottom: 0;
}

.sidebar > ul > li a {
    border-bottom: 1px solid #443312;
    display: block;
    padding: 5px 0;
}

/*.sidebar > ul > li:last-child a {
    border-bottom: 0;
}*/

.sidebar > ul > li:first-child a {
    border-top: 1px solid #443312;
}

.well {
    background: #12110f;
    border-color: #443312;
    color: #a99877;
}

a.well:hover {
    color: #a99877;
    text-decoration: none;
    border-color: #776645;
}

.box-img {
    display: block;
    background: #12110f;
    border: 1px solid #443312;
    margin-bottom: 20px;
    border-radius: 4px;
}

.box-img img {
    border-radius: 4px;
}

a.box-img:hover {
    border-color: #776645;
}

.btn-metal {
    color: #fff;
    background-color: #12110f;
    border-color: #443312;
}

.btn-metal:hover,
.btn-metal:focus,
.btn-metal:active,
.btn-metal.active,
.open .dropdown-toggle.btn-metal {
    color: #fff;
    background-color: #12110f;
    border-color: #443312;
}
